{% extends 'base.html.twig' %}

{% block title %}CRM{% endblock %}

{% block body %}
    <div class="content">
        <div class="row">
            ТУТ ЧТОТО БУДЕТ
        </div>
    </div>
{% endblock %}
